In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'A' : [1,2,3,4,5],
                  'B' : [6,3,7,1,9],
                  'C' : ['a','v','d','f','g']})
df

   A  B  C
0  1  6  a
1  2  3  v
2  3  7  d
3  4  1  f
4  5  9  g

In [3]:
df.replace(1, 100)

     A    B  C
0  100    6  a
1    2    3  v
2    3    7  d
3    4  100  f
4    5    9  g

In [4]:
# if we want to replace multiple values we can pass list
df.replace([1,3] , [100, 300])

     A    B  C
0  100    6  a
1    2  300  v
2  300    7  d
3    4  100  f
4    5    9  g

In [ ]:
# if we want to replace many values in Dataframe we can use the "regex"

# df.replace(to_replace = ".*.html", value = "webpage", regex = True)
This line will do the changes in all the cells contains '.html' in the value. 
it will replace the value with 'webpage'
for that we need to make regex True