In [1]:
import pandas as pd

In [2]:
students = ['Alice', 'Bob', 'Jolly']
pd.Series(students)

0    Alice
1      Bob
2    Jolly
dtype: object

In [4]:
numbers = [1, 2, None]
pd.Series(numbers) # here pandas will convert the values into float from integer.
# because the none which shows there is lack of data, will give the value as NaN - which is Not a Number
# this NaN is the float type. 
# so pandas converts the data into float

0    1.0
1    2.0
2    NaN
dtype: float64

In [5]:
# "None" and NaN both might be used by the Data Scientist in the same way to denote missing data.
# But these are not represented by the pandas in the same way.

In [6]:
# NaN is not equivilent to "None".

In [7]:
import numpy as np
np.nan == None

False

In [8]:
# The meaning of NaN similar as None. But it is a numerical value and is treated differently for efficiency reasons.

In [9]:
# we can pass tupels in the series.
student_names = [('Alice', 'Bob'), ('Cat', 'Dog'), ('Elephant', 'Horse')]
pd.Series(student_names)

0         (Alice, Bob)
1           (Cat, Dog)
2    (Elephant, Horse)
dtype: object

In [11]:
# we can pass the data and index directly in the series object
s = pd.Series(['Physics', 'Maths', 'Chemistry'], index = ['Alice', 'Bob', 'Jack'])
s

Alice      Physics
Bob          Maths
Jack     Chemistry
dtype: object

In [13]:
students_courses = {"Alice" : "Physics",
                   "Bob" : "Maths",
                   "Jack" : "Chemistry"}
pd.Series(students_courses, index=['Alice', "Jack", "Meet"])

Alice      Physics
Jack     Chemistry
Meet           NaN
dtype: object

In [ ]:
# This series doesn't have Bob in it. Even though it is in original Dataset.
# Where as there is Meet in the series as a missing value.